
.w3schools-footer {
    background-color: #282a35;
    color: #f1f1f1;
    padding: 20px 0;
    text-align: center;
    height: 100%;
}
.main-footer{
    height: 30vh;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.email-link{
    color: white;
   
}
.email{
    margin-top: 25px;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    color: #f1f1f1;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social {
    margin-bottom: 20px;
}

.footer-social a {
    margin: 0 10px;
    display: inline-block;
}

.footer-social img {
    width: 24px;
    height: 24px;
}

.footer-copyright {
    font-size: 14px;
}